* {
    margin: 0 auto;
}

.main {
    height: 1000px;
}

.header {
    background: url('/img/headerimggirl/headergirl.png') center center/cover no-repeat;
    height: 1000px;
}

.logo {
    padding-left: 500px;
    height: 44px;

}

.logo img {
    width: 55px;
    height: 55px;
    padding-top: 30px;
}

.inscription {
    padding-left: 580px;
    height: 7px;
}

.inscription img {
    width: 110px;
    height: 40px;
}

.menu_list {
    justify-content: space-between;
    width: 450px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 100px;
}

.menu__list {
    font-family: Poppins-Light, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 69px;
}

.single {
    padding-left: 400px;
    padding-top: 310px;
}

.single h2 {
    font-family: Poppins-Light, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 72px;
    color: #FFFFFF;
}

.war {
    padding-left: 400px;
    padding-top: 10px;
}

.war h1 {
    font-family: Poppins-Light, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 150px;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
}

.song-slider {
    width: 1000px;
    position: relative;
}

.seek-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #ffffff;
    overflow: hidden;
    cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px #a7a7a7;
}

.current-time,
.song-duration {
    font-size: 14px;
    color: #ffffff;
}

.song-duration {
    position: absolute;
    right: 0;
}

.controls {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #a7a7a7;
    cursor: pointer;
    border: none;
}

.play-btn span {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: #ffffff;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2) {
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1) {
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause {
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0;
    }

    50% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    }
}

.imgs_girls {
    justify-content: space-between;
    width: 450px;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 600px;
    padding-top: 80px;

}

.imgs__girls {
    padding-left: 20px;
    width: 350px;
    height: 300px;
}

.body {
    min-height: 1200px;
    background-color: #1C1B21;
}

.body .body_bright_light {
    position: absolute;
    width: 50%;
    height: 594px;
    left: 450px;
    top: 1330px;
    background-color: rgba(255, 255, 255, 0.4);
}

.body_bright_light .bd_bright_light {
    position: absolute;
}